<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>
<body>
<form method="POST" class="post-form" action="/emp">
        {% csrf_token %}
    <div class="container">
<br>
    <div class="form-group row">
    <label class="col-sm-1 col-form-label"></label>
    <div class="col-sm-4">
    <h3>Enter Details</h3>
    </div>
  </div>
    <div class="form-group row">
    <label class="col-sm-2 col-form-label">Team Id:</label>
    <div class="col-sm-4">
      {{ form.team_id }}
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Team Name:</label>
    <div class="col-sm-4">
      {{ form.team_name }}
    </div>
  </div>
    <div class="form-group row">
    <label class="col-sm-2 col-form-label">MP:</label>
    <div class="col-sm-4">
      {{ form.matches_played }}
    </div>
  </div>
    <div class="form-group row">
    <label class="col-sm-2 col-form-label">W:</label>
    <div class="col-sm-4">
      {{ form.wins }}
    </div>
  </div>
    <div class="form-group row">
    <label class="col-sm-2 col-form-label">D:</label>
    <div class="col-sm-4">
      {{ form.draws }}
    </div>
  </div>
    <div class="form-group row">
    <label class="col-sm-2 col-form-label">L:</label>
    <div class="col-sm-4">
      {{ form.losses }}
    </div>
  </div>
    <div class="form-group row">
    <label class="col-sm-2 col-form-label">Rk:</label>
    <div class="col-sm-4">
      {{ form.league_position }}
    </div>
  </div>
    <div class="form-group row">
    <label class="col-sm-2 col-form-label">GS:</label>
    <div class="col-sm-4">
      {{ form.goals_scored }}
    </div>
  </div>
    <div class="form-group row">
    <label class="col-sm-2 col-form-label">GC:</label>
    <div class="col-sm-4">
      {{ form.goals_conceded }}
    </div>
  </div>
    <div class="form-group row">
    <label class="col-sm-2 col-form-label">GDiff:</label>
    <div class="col-sm-4">
      {{ form.goal_difference }}
    </div>
  </div>
    <div class="form-group row">
    <label class="col-sm-2 col-form-label">Pts:</label>
    <div class="col-sm-4">
      {{ form.points }}
    </div>
  </div>
    <div class="form-group row">
    <label class="col-sm-1 col-form-label"></label>
    <div class="col-sm-4">
    <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
    </div>
</form>
</body>
</html>