<head>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    {% block content %}
    <img src="prem-logo.jpg" alt="Premiership Logo" style="width:400px;height:200px;" class="center">
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <h2>Premiership Stats Login</h2>
                {{ form }}
            <div class="login">
                <button class="button"><span>Login </span></button>
            </div>
        </form>
        <div class="account">
            <h3>Need An Account?</h3>
                <a class="ml-2" href="{% url 'register' %}">Sign Up Now</a>
        </div>
    </div>
    {% endblock content %}

</body>